* {
    font-family: Kanit;
}

.expo {
    background-color: var(--bs-primary-bg-subtle);
    border-radius: 1rem;
}

.expo > * {
    text-decoration: none;
}

.expo:hover {
    box-shadow: 0 0 20px 0px var(--bs-primary);
    transition: 0.5s;
}

#video {
    margin: auto;
    position:relative;
    height: calc(100vh);
    width: 100%;
    left: 0;
    right: 0;
    top: -100%;
    bottom: 0;
    z-index: -1;
    object-fit:cover;
    opacity: 30%;
    padding: 0;
}

.vh-navbar {
    height: calc(100vh - 3rem) !important;
}

.container-fluid > .row {
    scroll-snap-align: start;
    scroll-margin-top: 3rem;
}

html {
    scroll-snap-type: y proximity;
    scroll-snap-stop: always;
}